# References removed for potential copyright reasons
Morton_A Computer Oriented Geodetic Data Base and a New Technique in File Sequencing.pdf
# ScyWeb SDK Local Persistence
sdk/**/*.scy
sdk/**/*.log
data/
# Gemtale Local Persistence
gemtale/gemtale_log.txt
gemtale/hf_token.txt
gemtale/venv/
gemtale/venv-windows/
gemtale/venv-linux/
gemtale/venv-mac/
gemtale/gemtale_data/*
!gemtale/gemtale_data/*.ppm
!gemtale/gemtale_data/*.png
gemtale/gemtale_data/models/