# References removed for potential copyright reasons
Morton_A Computer Oriented Geodetic Data Base and a New Technique in File Sequencing.pdf
# ScyWeb SDK Local Persistence
sdk/**/*.scy
sdk/**/*.log
data/
# Gemtale Local Persistence
gemtale/models/
gemtale/URLs.txt
gemtale/*.ppm
gemtale/*.png
gemtale/*.safetensors
gemtale/*.bin
gemtale/*.pt
gemtale/*.pth
gemtale/*.gguf